<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>keyCodes</title>
    <link rel="stylesheet" href="/CSS/styles.css">
  </head>

  <body>

    <!-- <h5>HTML file loaded <%=obj.name%></h5> -->
    <div class="mains">
      <div class="headHere">
        <div class="logo"><img src="img/logo.png" alt="">
          <div class=""><h5>Cloned Developers</h5></div>
        </div>
        <div class="welcome"><%= obj.start %></div>
      </div>
      <div class="search">
        <form id="searchBox" action="index.html" method="post">
          <h5>Search</h5><input placeholder="Type a key..." type="text" name="" value="">
        </form>

        <!-- <form class="formInput" id="searchBox" action="index.html" method="post">
          <input placeholder="Search a key..." type="text" name="" value="">
          <button type="submit" name="button">Search</button>
        </form> -->
      </div>
    </div>

      <div class="keyboard">
        <div class="left">
          <div class="line1">
            <div class="aa"><a href="#">Esc</a></div>
            <div class="ab">
              <a href="#">F1</a>
              <a href="#">F2</a>
              <a href="#">F3</a>
              <a href="#">F4</a>
            </div>
            <div class="ac">
              <a href="#">F5</a>
              <a href="#">F6</a>
              <a href="#">F7</a>
              <a href="#">F8</a>
            </div>
            <div class="ad">
              <a href="#">F9</a>
              <a href="#">F10</a>
              <a href="#">F11</a>
              <a href="#">F12</a>
            </div>
          </div>
          <div class="line2">
            <div class="ba b-stretch">
              <a  href="#"> ~<br>` </a>
              <a href="#"> !<br>1 </a>
              <a href="#"> @<br>2 </a>
              <a href="#"> #<br>3 </a>
              <a href="#"> $<br>4 </a>
              <a href="#"> %<br>5 </a>
              <a href="#"> ^<br>6 </a>
              <a href="#"> &<br>7 </a>
              <a href="#"> *<br>8 </a>
              <a href="#"> (<br>9 </a>
              <a href="#"> )<br>0 </a>
              <a href="#"> _<br>- </a>
              <a href="#"> +<br>= </a>
              <a class="stretch" href="#">Backspace</a>
            </div>
          </div>
          <div class="line3">
            <div class="ca c-stretch">
              <a class="stretch" href="#">Tab</a>
              <a href="#">Q</a>
              <a href="#">W</a>
              <a href="#">E</a>
              <a href="#">R</a>
              <a href="#">T</a>
              <a href="#">Y</a>
              <a href="#">U</a>
              <a href="#">I</a>
              <a href="#">O</a>
              <a href="#">P</a>
              <a href="#"> {<br>[ </a>
              <a href="#"> }<br>] </a>
              <a href="#"> |<br>\ </a>
            </div>
          </div>
          <div class="line4">
            <a class="stretch" href="#">Caps Lock</a>
            <a href="#">A</a>
            <a href="#">S</a>
            <a href="#">D</a>
            <a href="#">F</a>
            <a href="#">G</a>
            <a href="#">H</a>
            <a href="#">J</a>
            <a href="#">K</a>
            <a href="#">L</a>
            <a href="#"> :<br>; </a>
            <a href="#"> "<br>' </a>
            <a class="stretch" href="#">Enter</a>
          </div>
          <div class="line5">
            <a class="stretch" href="#">Shift</a>
            <a href="#">Z</a>
            <a href="#">X</a>
            <a href="#">C</a>
            <a href="#">V</a>
            <a href="#">B</a>
            <a href="#">N</a>
            <a href="#">M</a>
            <a href="#"> <<br>, </a>
            <a href="#"> ><br>. </a>
            <a href="#"> ?<br>/ </a>
            <a class="stretch" href="#">Shift</a>
          </div>
          <div class="line6">
            <a class="stretch" href="#">Ctrl</a>
            <a class="stretch" href="#">Win</a>
            <a class="stretch" href="#">Alt</a>
            <a class="stretch space" href="#">SpaceBar</a>
            <a class="stretch" href="#">Alt</a>
            <a class="stretch" href="#">Win</a>
            <a class="stretch" href="#">Opt</a>
            <a class="stretch" href="#">Ctrl</a>
          </div>
        </div>


        <div class="right">
            <div class="aa aa-right">
              <a href="#">Home</a>
              <a href="#">*</a>
            </div>
            <div class="bb aa-right">
              <a href="#">PgUp</a>
              <a href="#">+</a>
            </div>
            <div class="cb aa-right">
              <a href="#">PgDn</a>
              <a href="#">-</a>
            </div>
          <div class="cb aa-right">
              <a href="#">Insert</a>
              <a href="#">.</a>
          </div>
          <div class="cb aa-right">
              <a href="#">End</a>
              <a href="#">/</a>
          </div>
        </div>
      </div>

      <div class="thankyou">
        Thank you for visiting
      </div>
    <div class="contacts">
      <!-- <div class="follow">Follow us</div> -->
      <div class="imgs">
        <img src="./img/fb.jpg" alt="">
        <img src="./img/whatsapp.jpg" alt="">
      </div>
    </div>








<script src="/SCRIPTS/script.js" type="text/javascript"></script>
  </body>
</html>
